@font-face {
  font-family: 'apple-light';
  font-weight: '300';
  // local 안쓰면 폰트 유무 관계없이 무조건 다운 받아짐 그래서 써야 있을시 다운 안받음
  src:  local('apple'),
        // url('/assets/font/AppleSDGothicNeoL.woff2') format('woff2'),
        url('~@/assets/font/AppleSDGothicNeoL.eot') format('embedded-opentype'),
        url('~@/assets/font/AppleSDGothicNeoL.ttf') format('trueType');
}
@font-face {
  font-family: 'apple-medium';
  font-weight: '400';
  src:  local('apple'),
        // url('/assets/font/AppleSDGothicNeoM.woff2') format('woff2'),
        url('~@/assets/font/AppleSDGothicNeoM.eot') format('embedded-opentype'),
        url('~@/assets/font/AppleSDGothicNeoM.ttf') format('trueType');
}
@font-face {
  font-family: 'apple-bold';
  font-weight: '700';
  src:  local('apple'),
        // url('/assets/font/AppleSDGothicNeoB.woff2') format('woff2'),
        url('~@/assets/font/AppleSDGothicNeoB.eot') format('embedded-opentype'),
        url('~@/assets/font/AppleSDGothicNeoB.ttf') format('trueType');
}
@font-face {
  font-family: 'apple-ebold';
  font-weight: '700';
  src:  local('apple'),
        // url('/assets/font/AppleSDGothicNeoEB.woff2') format('woff2'),
        url('~@/assets/font/AppleSDGothicNeoEB.eot') format('embedded-opentype'),
        url('~@/assets/font/AppleSDGothicNeoEB.ttf') format('trueType');
}
@font-face {
  font-family: 'apple-heavy';
  font-weight: '900';
  src:  local('apple'),
        // url('/assets/font/AppleSDGothicNeoH.woff2') format('woff2'),
        url('~@/assets/font/AppleSDGothicNeoH.eot') format('embedded-opentype'),
        url('~@/assets/font/AppleSDGothicNeoH.ttf') format('trueType');
}
@font-face {
  font-family: 'sarabun';
  src:  local('sarabun'),
        url('~@/assets/font/Sarabun-ExtraBold.ttf') format('trueType');
}

@font-face {
  font-family: 'sarabun-regular';
  src:  local('sarabun'),
        url('~@/assets/font/Sarabun-Regular.ttf') format('trueType');
}

@keyframes slideOutTop {
  0% {
    background: #FF0000;
    transform: translate3d(0, 0, 0);
  }

  to {
    background: #4C00FF;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutBottom {
  from {
    background: #00FFEE;
    transform: translate3d(0, 0, 0);
  }

  to {
    background: #FF00AA;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutLeft {
  from {
    background: #FFE600;
    transform: translate3d(0, 0, 0);
  }
  to {
    background: #FF5600;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    background: #00FF5D;
    transform: translate3d(0, 0, 0);
  }
  to {
    background: #fff;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes widthAnimation {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

@keyframes dotAnimation {
  10% {
    transform: translate(1100px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes TopBottomAnimation {
  from {
    opacity: 0;
    transition: 1s ease-in-out;
  }
  to {
    opacity: 1;
    transition: 1s ease-in-out;
  }
}

@keyframes introTextAnimation {
  from {
    opacity: 0;
    transform: translate(-500px, -100px);
  }
  to {
    opacity: 1;
    transform: translate(-80px, 0px);
  }
}

@keyframes menuAnimation {
  from {
    opacity: 0;
    transform: translate(0px, 200px) rotate(90deg);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px) rotate(90deg);
  }
}

@keyframes categoryAnimation {
  from {
    transform: translate3d(0px, 150px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes experienceMove {
  from {
    transform: translate(0px, -150px);
    opacity: 0;
  }
  50% {
    transform: translate(0px, 10px);
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes marqueeLeft {
  0% {
    transform: translateX(0px);
  }
  99%, to {
    transform: translateX(-100%);
  }
}
@keyframes marqueeRight {
  0% {
    transform: translateX(-110%);
  }
  99%, to {
    transform: translateX(0px);
  }
}
@keyframes dot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes background {
  0% {
      transform: translateZ(0);
  }
  0% {
      transform: translate3d(-50%,0,0);
  }
}
@keyframes textEffect {
  0% {
      font-size: 500px;
      color: #3eb5b5;
      transform: translate(0px, -300px);
      opacity: 0;
  }
  50% {
    color: #5579ca;
  }
  100% {
      font-size: 200px;
      transform: translate(0px, 0px);
      opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes imgEffect {
  from {
    height: 50vh;
    opacity: 0;
  }
  to {
    height: 100vh;
    opacity: 1;
  }
}
@keyframes topBottomAnimate {
  0% {
    transform: translate(0px, 0px);
  }
  99%, to {
    transform: translate(0px, 10px);
  }
}
@keyframes textRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
  style
 */
.fadeinup {
  opacity: 0;
  &.fadeinup-active {
    animation: 1s fadeInUp;
    animation-fill-mode: forwards
  }
}
.fade-contents {
  // opacity: 0;
  &.active {
    opacity: 1;
  }
}
/* 배너 컬러 변경 */
.background-animate {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 71, 0, 0.5), rgba(245, 134, 201, 0.5));
  animation: background 1s cubic-bezier(.445,.05,.55,.95) infinite alternate;
  pointer-events: none;
}
.work-wrap {
  .background-animate {
    background: linear-gradient(90deg, rgba(79, 188, 157, 0.5), rgba(26, 255, 190, 0.5));
  }
}
.background-circle-wrap {
  &.move {
    .circle {
      opacity: 1;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transform: translate(-425px * $i, 100px) scale(0.6 * $i);
        }
      }
    }
  }
  position: absolute;
  top: 0px;
  right: 50px;
  z-index: -1;
  transition: 1s ease-in-out;
  // animation: 7s TopBottomAnimation;
  .circle {
    width: 35vh;
    height: 35vh;
    background: linear-gradient(45deg, #441616, #ff0000);
    border-radius: 100%;
    box-shadow: 1px 1px 4px 1px #881717;
    transform: translate(0px, 100px);
    transition: 1s ease-in-out;
    opacity: 0;
  }
}
.border-circle-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: 1s ease-in-out;
  animation: 7s TopBottomAnimation;
  .circle {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 800px;
    height: 800px;
    border: 2px solid #fff;
    border-radius: 100%;
    transform: translate(0px, 100px);
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transform: translate(200px * $i, 100px);
      }
    }
  }
}
.circle-wrap {
  position: absolute;
  z-index: -1;
  width: 100px;
  min-height: 100px;
  transition: 0.5s ease-in-out;
  &.left-circle-wrap {
    top: 250px;
    left: -140px;
    &.active {
      .circle {
        transition: 0.5s ease-in-out;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transform: translate(0px, -60px * $i);
            opacity: 0.15 * $i;
          }
        }
      }
    }
  }
  &.right-circle-wrap {
    bottom: 550px;
    right: 400px;
    &.active {
      .circle {
        transition: 0.5s ease-in-out;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transform: translate(-50px * $i, 50px * $i);
            opacity: 0.15 * $i;
          }
        }
      }
    }
  }
  .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $primary-color;
    border-radius: 50%;
    transform: translate(0px, 0px);
    transition: 0.5s ease-in-out;
  }
}
/* 메뉴 */
.menu_widget {
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
	.menu_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 241, 241, 0.9);
  }
  .menu-title {
    position: fixed;
    top: 120px;
    right: 11px;
    font-size: 40px;
    font-family: 'sarabun';
    text-transform: uppercase;
    transform: rotate(90deg);
    background: -webkit-linear-gradient(135deg, #f00, #c51010, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
    animation: 0.5s menuAnimation;
  }
}

/* animation badge */
.badge {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 400px auto 0px auto;
  border-radius: 50px;
  box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 40px #fff;
  .circle {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: $primary-color;
    border-radius: 13px;
    box-shadow: 1px 1px 2px 0px #5d1717;
    transition: 0.2s ease-in-out;
    animation: 1s dot;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &:nth-child(1) {
      left: 20%;
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      left: auto;
      right: 20%;
      animation-delay: 0.5s;
    }
  }
}
/* 스크롤 */
body {
  &.theme-dark {
    background: #333;
    color: #fff;
    .menu-btn {
      border: 2px solid #fff;
      background: transparent;
      div {
        background: #fff;
      }
    }
    .menu-view {
      .menu-dim {
        background: #333;
      }
      .menu-view-menubox {
        .menubox-list {
          .list {
            a {
              position: relative;
              color: #fff;
            }
          }
        }
      }
      .menu-theme {
        &:hover {
          .theme-list-icon {
            .theme-light {
              &::before {
                transform: rotate(90deg);
                transition: 0.2s ease-in-out;
              }
              &::after {
                transform: rotate(135deg);
                transition: 0.2s ease-in-out;
              }
            }
          }
        }
        .theme-list-icon {
          .theme-dark {
            background: #000;
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 11;
            width: 24px;
            height: 24px;
            border-radius: 20px;
          }
          .theme-light {
            width: 30px;
            height: 30px;
            &::before {
              content: '';
              position: absolute;
              display: block;
              top: 0px;
              left: 0px;
              width: 30px;
              height: 30px;
              border-radius: 0;
              background: #fff;
              transition: 0.2s ease-in-out;
            }
            &::after {
              content: '';
              position: absolute;
              display: block;
              top: 0px;
              left: 0px;
              width: 30px;
              height: 30px;
              border-radius: 0;
              background: #fff;
              transform: rotate(45deg);
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }
    .badge {
      box-shadow: 20px 20px 40px #2b2b2b, -20px -20px 40px #3b3b3b;
    }
  }
  &.active {
    overflow-y: hidden;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    opacity:0;
  }
  &::-webkit-scrollbar-track {
    opacity:0;
  }
  &::-webkit-scrollbar-track-piece {
    opacity:0;
  }
}
/* 얼굴 변환 */
.image-area-wrap {
  position: relative;
  cursor:pointer;
  img {
    position: absolute;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    .header {
      transform: scale(1.1) translate3d(-30px, -30px, 0px);
    }
    .face {
      transform: scale(1.1) translate3d(15px, 5px, 0px);
    }
    .bottom {
      transform: scale(1.1) translate3d(0px, 45px, 0px);
    }
  }
  .header {
    top: 107px;
    right: 502px;
    width: 95px;
  }
  .face {
    top: 129px;
    right: 500px;
    width: 100px;
  }
  .bottom {
    top: 199px;
    right: 505px;
    width: 83px;
  }
}
/* symbol animation */
.symbol-animation {
  &.type-a {
    position: absolute;
    top: 100px;
    right: 300px;
    width: 220px;
    height: 220px;
    .symbol-wrap {
      position: relative;
      & > div {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
      .symbol-01 {
        top: 0px;
        right: 0px;
        background: $primary-color;
        animation: symbol-animation-a01 3.5s infinite
      }
      .symbol-02 {
        top: 120px;
        right: 0px;
        background: #000;
        animation: symbol-animation-a02 3.5s infinite
      }
      .symbol-03 {
        top: 120px;
        right: 120px;
        background: #000;
        animation: symbol-animation-a03 3.5s infinite
      }
    }
    @keyframes symbol-animation-a01 {
      25% {-webkit-transform: translate(0,120px);transform: translate(0,120px) }
      50% {-webkit-transform: translate(-120px,120px);transform: translate(-120px,120px)}
      75% {-webkit-transform: translate(0,120px);transform: translate(0,120px)}
    }
    @keyframes symbol-animation-a02 {
      25% {-webkit-transform: translate(0,-120px);transform: translate(0,-120px)}
      75% {-webkit-transform: translate(0,-120px);transform: translate(0,-120px)}
    }
    @keyframes symbol-animation-a03 {
      25% {-webkit-transform: translate(0px,0px);transform: translate(0px,0px)}
      50% {-webkit-transform: translate(120px,0px);transform: translate(120px,0px)}
      75% {-webkit-transform: translate(0,0);transform: translate(0,0)}
    }
  }
  &.type-b {
    position: absolute;
    bottom: 250px;
    left: 200px;
    width: 220px;
    height: 220px;
    .symbol-wrap {
      position: relative;
      & > div {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
      .symbol-01 {
        top: 0px;
        left: 0px;
        background: $secondary-color;
        animation: symbol-animation-b01 3.5s infinite
      }
      .symbol-02 {
        top: 120px;
        left: 0px;
        background: #000;
        animation: symbol-animation-b02 3.5s infinite
      }
      .symbol-03 {
        top: 120px;
        left: 120px;
        background: #000;
        animation: symbol-animation-b03 3.5s infinite
      }
    }
    @keyframes symbol-animation-b01 {
      25% {-webkit-transform: translate(0,120px);transform: translate(0,120px) }
      50% {-webkit-transform: translate(120px,120px);transform: translate(120px,120px)}
      75% {-webkit-transform: translate(0,120px);transform: translate(0,120px)}
    }
    @keyframes symbol-animation-b02 {
      25% {-webkit-transform: translate(0,-120px);transform: translate(0,-120px)}
      75% {-webkit-transform: translate(0,-120px);transform: translate(0,-120px)}
    }
    @keyframes symbol-animation-b03 {
      25% {-webkit-transform: translate(0px,0px);transform: translate(0px,0px)}
      50% {-webkit-transform: translate(-120px,0px);transform: translate(-120px,0px)}
      75% {-webkit-transform: translate(0,0);transform: translate(0,0)}
    }
  }
  &.type-c {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    animation: symbol-rotate 3.5s infinite;
    opacity: 0;
    .symbol-wrap {
      position: relative;
      & > div {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
      .symbol-01 {
        top: 0px;
        left: 0px;
        background: $secondary-color;
        animation: symbol-animation-c01 5s infinite
      }
      .symbol-02 {
        top: 0px;
        left: 150px;
        background: #000;
        animation: symbol-animation-c02 5s infinite
      }
      .symbol-03 {
        top: 150px;
        left: 0px;
        background: #000;
        animation: symbol-animation-c03 5s infinite
      }
      .symbol-04 {
        top: 150px;
        left: 150px;
        background: $secondary-color;
        animation: symbol-animation-c04 5s infinite
      }
    }
    @keyframes symbol-rotate {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.1;
      }
      to {
        transform: translate(-50%, -50%) rotate(-360deg);
        opacity: 0.1;
      }
    }
    @keyframes symbol-animation-c01 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(-50px, -50px);
      }
    }
    @keyframes symbol-animation-c02 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(50px, -50px);
      }
    }
    @keyframes symbol-animation-c03 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(-50px, 50px);
      }
    }
    @keyframes symbol-animation-c04 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(50px, 50px);
      }
    }
  }
  &.type-d {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
    animation: symbol-reverse-rotate 3s infinite;
    opacity: 0;
    .symbol-wrap {
      position: relative;
      & > div {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
      .symbol-01 {
        top: -100px;
        left: -100px;
        background: #000;
        animation: symbol-animation-d01 5s infinite
      }
      .symbol-02 {
        top: -100px;
        right: -100px;
        background: $secondary-color;
        animation: symbol-animation-d02 5s infinite
      }
      .symbol-03 {
        top: 350px;
        left: -100px;
        background: $secondary-color;
        animation: symbol-animation-d03 5s infinite
      }
      .symbol-04 {
        top: 350px;
        right: -100px;
        background: #fff;
        animation: symbol-animation-d04 5s infinite
      }
    }
    @keyframes symbol-reverse-rotate {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.1;
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
        opacity: 0.1;
      }
    }
    @keyframes symbol-animation-d01 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(-50px, -50px);
      }
    }
    @keyframes symbol-animation-d02 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(50px, -50px);
      }
    }
    @keyframes symbol-animation-d03 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(-50px, 50px);
      }
    }
    @keyframes symbol-animation-d04 {
      10% {
        transform: translate(0px, 0px);
      }
      40% {
        transform: translate(50px, 50px);
      }
    }
  }
}
